body {
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	text-transform: uppercase;
	font-family: "PT Sans", sans-serif;	
}

h2 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "PT Sans", sans-serif;
}

.hotel-search h2 {
	font-size: 30px;
	line-height: 24px;
}

h3 {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
	font-family: "PT Sans", sans-serif;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.container {
	width: 100%;
	min-width: 768px;
	max-width: 1200px;
	margin: 0 auto;
}

.main-navigation {
	margin-left: 6%;
	margin-right: 6%;
	margin-bottom: 24px;
	font-size: 0;
	text-align: center;
}

.main-navigation li {
	display: inline-block;
	width: 20%;
	font-size: 14px;
}

.index-logo {
	margin-bottom: 60px;
}

.index-logo img {
	width: 100%;
}

.index-logo img:nth-child(2) {
	height: 57px;
}

.first-feature {
	height: 255px;
	margin-top: 60px;
}

.first-feature-text {
	float: left;
	width: 23%;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
}

.first-feature-img {
	float: right;
	width: 67%;
}

.infrastructure {
	height: 186px;
	padding-bottom: 87px;
	padding-top: 57px;
	text-align: center;
}

.infrastructure-left {
	float: left;
	width: 33%;
}

.infrastructure-center {
	float: left;
	width: 33%;
}

.infrastructure-right {
	float: right;
	width: 33%;
}

.second-feature {
	height: 255px;
}

.second-feature-text {
	float: right;
	width: 23%;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
}

.second-feature-img {
	float: left;
	width: 67%;
}

.other-features {
	height: 142px;
	padding-bottom: 64px;
	padding-top: 49px;
	text-align: center;
}

.other-features-left {
	float: left;
	width: 33%;
}

.other-features-center {
	float: left;
	width: 33%;
}

.other-features-right {
	float: right;
	width: 33%;
}

.hotel-search {
	margin-top: 57px;
	text-align: center;
}

.hotel-search form {
	width: 586px;
	height: 395px;
	margin: 0 auto;
}

.main-footer container {
	padding-top: 36px;
	padding-bottom: 36px;
}

.footer-hashtag {
	float: left;
	width: 33%;
	text-align: center;
}

.footer-social {
	float: left;
	width: 33%;
	text-align: center;
}

.social-btn {
	display: inline-block;
}

.footer-copyright {
	float: right;
	width: 33%;
	text-align: center;
}

.filter fieldset:nth-child(1) {
	float: left;
	width: 20%;
}

.filter fieldset:nth-child(2) {
	float: left;
	width: 20%;
}

.filter fieldset:nth-child(3) {
	float: right;
	width: 29%;
}

.btn-filter {
	float: right;
}

.sort {
	display: inline-block;
}

.sort li {
	display: inline-block;
}

.hotel {
	padding-top: 30px;
	padding-bottom: 30px;
}

.hotel img {
	float: left;
	width: 135px;
	margin-right: 30px;
}

.hotel-info-main {
	float: left;
}

.hotel-info-add {
	float: right;
}